.mdl-list__item {
  font-size: 0.7em;
  padding: 5px 10px;
  min-height: 12px;
}

.board {
  padding:  10px;
  margin-top: 50px;
  width: 100%;
  background: #D6D6D6;
  border: solid #B6B6B6 1px;
}
.board .row{
  width: 100%;
  display: table;
  table-layout: fixed;
}

.board .row .cell{
  background-color: #fff;
  padding: 15px 5px 5px 5px;
  height: 50px;
  width: auto;
  display: table-cell;
  text-align: center;
  border:  solid 1px #000;
}

.board .row .cell .blue{
  color:  blue;
 }

.board .row .cell span{
  margin: 2px;
  /* border: #84C4FB dotted 1px ; */
  width: 50px;
  min-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: red;
  vertical-align: middle;
}

.board .row .cell img{
  max-width: 30px;
  max-height: 30px;
}
