<h3>
  <span *ngIf="status==0"> {{status_string[status]}}</span>
  <span *ngIf="status==1"> {{status_string[status]}} {{current_letter}}</span>
  <span *ngIf="status==2"> {{status_string[status]}}</span>
  <span *ngIf="status==3"> <img src="/assets/{{current_letter}}.png" alt=""> {{status_string[status]}}</span>
</h3>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col">
    <div class="demo-crumbs mdl-color-text--grey-500">
      <div *ngIf="status==0">
        <h5> Board Size:  {{ boardSize }} </h5>
        <p style="width:300px">
          <input id="slider1" [(ngModel)]="boardSize" type="range" min="3" max="12" step="1" />
        </p>
        <hr>
        <button (click)="startGame()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">start!</button>
      </div>

      <div class="board mdl-grid" *ngIf="status!=0">
        <div *ngFor="let row of board" class='row' >
          <div *ngFor="let cell of row" class='cell mdl-layout-spacer' (click)="setMove(current_letter,board.indexOf(row),row.indexOf(cell))">
            <span *ngIf="cell[2]!=''"> <img src="/assets/{{ cell[2]}}.png" alt=""> </span><br>
          </div>
        </div>
      </div>
      <hr>
      <div class="mdl-cell mdl-cell--4-col" *ngIf="status==2 || status==3">
        <button (click)="startGame()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Play Again!</button>
      </div>
      <div class="mdl-cell mdl-cell--4-col" *ngIf="status==1 || status==2 || status==3">
        <button (click)="restartGame()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Restart!</button>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <h4><strong>Game Activity</strong></h4>
    <hr>
    <ul class="demo-list-icon mdl-list">
      <li *ngFor="let log of activity_logs" class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">done</i> {{ log }}
        </span>
      </li>
    </ul>
  </div>
</div>
